{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  {% if card %}
  <h1>Edit {{card.characterName}}</h1>
  {% else %}
  <h1>Add a Card</h1>
  <img src="{% static 'images/trading-card.png' %}" alt="An icon of a trading card" />
  {% endif %}
</div>

<form action="" method="post" enctype="multipart/form-data" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>

  <h3>Add Image</h3>
  {{ image_formset.management_form }}
  {% for image_form in image_formset %}
    <table>
      {{ image_form.as_table }}
    </table>
  {% endfor %}

  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
