{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %} {% block content %}

<h1>Hello 🅒ᗋℝᑔ  🄒Ⓞ🅛🅛𝔼🄒ẗ𝕆🅁!</h1>
{% if not user.is_authenticated %}
  <section class="auth-options">
    <h2>Welcome to the CardCollector!</h2>
    <p>Log in to view and manage your cards or sign up to join the fun!</p>
    <div class="auth-options">
      <a href="{% url 'login' %}" class="btn">Login</a>
      <a href="{% url 'signup' %}" class="btn">Sign Up</a>
    </div>
  </section>
  {% else %}
  <section class="welcome-back">
    <h2>Welcome back {{ user.username }}</h2>
    <a href="{% url 'card-index' %}" class="btn">Go to Card List</a>
  </section>
{% endif %}

{% endblock %}