{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/cards/card-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Card List</h1>
  <img
    src="{% static 'images/trading-card.jpg' %}"
    alt="Icon of trading card"
  />
</section>

<section class="card-container">
  {% for card in cards %}
  <div class="card">
    <a href="{% url 'card-detail' card.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src="{% static 'images/toppsChrPxWoody-2025.jpg' %}"
          alt="There's a snake in my boot"
        />
      </div>
      </a>
      <h2 class="card-title">{{ card.characterName }}</h2>
      <p><strong>A {{card.releaseYear}} {{card.brandName}} {{ card.seriesName }} card of {{ card.characterName }}</strong></p>
      <p>Category:  {{card.category}}</p>
      <p>Description: <small>{{card.description}}</small></p>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
